Repository devlancer-lucas/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-python-workflow, run-chat-workflow, run-default-workflow

Synced llama.cpp.cmake with upstream
  gpt4all-backend/llama.cpp.cmake
Due: run-chat-workflow, run-default-workflow

Move usage in Python bindings readme to own section (#907)
  gpt4all-bindings/python/README.md
Due: run-python-workflow, run-default-workflow

Always sync for circleci.
  .circleci/continue_config.yml
Due: run-default-workflow

update models json with replit model
  gpt4all-chat/metadata/models.json
Due: run-chat-workflow, run-default-workflow

Forgot to bump.
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

Change the default values for generation in GUI
  gpt4all-chat/qml/SettingsDialog.qml
Due: run-chat-workflow, run-default-workflow

Removed double-static from variables in replit.cpp
  gpt4all-backend/replit.cpp
Due: run-chat-workflow, run-default-workflow

Generator in Python Bindings - streaming yields tokens at a time (#895)
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/gpt4all/pyllmodel.py
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

Do auto detection by default in C++ API
  gpt4all-backend/llmodel.h
Due: run-chat-workflow, run-default-workflow

llama on Metal (#885)
  .gitmodules
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/llama.cpp.cmake
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llmodel.cpp
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

Revert "llama on Metal (#885)"
  .gitmodules
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/llama.cpp.cmake
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llmodel.cpp
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

Metal+LLama take two (#929)
  .gitmodules
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/llama.cpp.cmake
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llmodel.cpp
  gpt4all-bindings/python/setup.py
  gpt4all-chat/CMakeLists.txt
Due: run-python-workflow, run-chat-workflow, run-default-workflow

Add new solution for context links that does not force regular markdown (#938)
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/main.qml
  gpt4all-chat/qml/AboutDialog.qml
  gpt4all-chat/qml/Theme.qml
  gpt4all-chat/responsetext.cpp
  gpt4all-chat/responsetext.h
Due: run-chat-workflow, run-default-workflow

Add code blocks and python syntax highlighting.
  gpt4all-chat/main.qml
  gpt4all-chat/responsetext.cpp
  gpt4all-chat/responsetext.h
Due: run-chat-workflow, run-default-workflow

Don't interfere with selection.
  gpt4all-chat/main.qml
Due: run-chat-workflow, run-default-workflow

Spelling error.
  gpt4all-chat/responsetext.cpp
Due: run-chat-workflow, run-default-workflow

Clean up the context links a bit.
  gpt4all-chat/main.qml
Due: run-chat-workflow, run-default-workflow

Add c++/c highighting support.
  gpt4all-chat/responsetext.cpp
Due: run-chat-workflow, run-default-workflow

Fix some bugs with bash syntax and add some C23 keywords.
  gpt4all-chat/responsetext.cpp
Due: run-chat-workflow, run-default-workflow

Bugfixes for prompt syntax highlighting.
  gpt4all-chat/main.qml
  gpt4all-chat/responsetext.cpp
Due: run-chat-workflow, run-default-workflow

Try and fix a false positive from codespell.
  .codespellrc
Due: run-default-workflow

When recalculating context we can't erase the BOS.
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

llmodel: add model wrapper destructor, fix mem leak in golang bindings (#862)
  gpt4all-backend/llmodel_c.cpp
  gpt4all-bindings/golang/binding.cpp
Due: run-chat-workflow, run-default-workflow

Initial 1.0.0 Java-Bindings PR/release (#805)
  README.md
  gpt4all-bindings/java/.gitignore
  gpt4all-bindings/java/README.md
  gpt4all-bindings/java/pom.xml
  gpt4all-bindings/java/src/main/java/com/hexadevlabs/gpt4all/LLModel.java
  gpt4all-bindings/java/src/main/java/com/hexadevlabs/gpt4all/LLModelLibrary.java
  gpt4all-bindings/java/src/main/java/com/hexadevlabs/gpt4all/Util.java
  gpt4all-bindings/java/src/test/java/com/hexadevlabs/gpt4all/Example1.java
  gpt4all-bindings/java/src/test/java/com/hexadevlabs/gpt4all/Example2.java
  gpt4all-bindings/java/src/test/java/com/hexadevlabs/gpt4all/Example3.java
  gpt4all-bindings/java/src/test/java/com/hexadevlabs/gpt4all/Example4.java
  gpt4all-bindings/java/src/test/java/com/hexadevlabs/gpt4all/Tests.java
Due: run-default-workflow

typescript: publish alpha on npm and lots of cleanup, documentation, and more (#913)
  .codespellrc
  gpt4all-bindings/typescript/.gitignore
  gpt4all-bindings/typescript/.npmignore
  gpt4all-bindings/typescript/README.md
  gpt4all-bindings/typescript/binding.gyp
  gpt4all-bindings/typescript/docs/api.md
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/index.h
  gpt4all-bindings/typescript/package.json
  gpt4all-bindings/typescript/prompt.cc
  gpt4all-bindings/typescript/prompt.h
  gpt4all-bindings/typescript/scripts/build.js
  gpt4all-bindings/typescript/scripts/build_mingw.ps1
  gpt4all-bindings/typescript/scripts/build_unix.sh
  gpt4all-bindings/typescript/scripts/prebuild.js
  gpt4all-bindings/typescript/spec/index.mjs
  gpt4all-bindings/typescript/src/config.js
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/src/gpt4all.js
  gpt4all-bindings/typescript/src/util.d.ts
  gpt4all-bindings/typescript/src/util.js
  gpt4all-bindings/typescript/stdcapture.cc
  gpt4all-bindings/typescript/stdcapture.h
  gpt4all-bindings/typescript/test/index.mjs
  gpt4all-bindings/typescript/yarn.lock
Due: run-default-workflow

Fix compile for windows and linux again. PLEASE DON'T REVERT THISgit gui!
  gpt4all-backend/llama.cpp.cmake
Due: run-chat-workflow, run-default-workflow

version bump
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

bring back when condition
  .circleci/continue_config.yml
Due: run-default-workflow

python workflows in circleci
  .circleci/continue_config.yml
Due: run-default-workflow

dummy python change
  gpt4all-bindings/python/dummy_python_change.py
Due: run-python-workflow, run-default-workflow

let me deploy pls
  .circleci/continue_config.yml
Due: run-default-workflow

second hold for pypi deploy
  .circleci/continue_config.yml
  gpt4all-bindings/python/dummy_python_change.py
Due: run-python-workflow, run-default-workflow

no need for main
  .circleci/continue_config.yml
Due: run-default-workflow

Typo, ignore list (#967)
  .codespellrc
  gpt4all-bindings/java/src/main/java/com/hexadevlabs/gpt4all/LLModel.java
Due: run-default-workflow

llmodel: change tokenToString to not use string_view (#968)
  gpt4all-backend/gptj.cpp
  gpt4all-backend/gptj_impl.h
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llamamodel_impl.h
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_shared.cpp
  gpt4all-backend/mpt.cpp
  gpt4all-backend/mpt_impl.h
  gpt4all-backend/replit.cpp
  gpt4all-backend/replit_impl.h
  gpt4all-chat/chatgpt.h
Due: run-chat-workflow, run-default-workflow

Initial Library Loader for .NET Bindings / Update bindings to support newest changes (#763)
  gpt4all-backend/CMakeLists.txt
  gpt4all-bindings/csharp/Gpt4All.Samples/Gpt4All.Samples.csproj
  gpt4all-bindings/csharp/Gpt4All.Tests/Gpt4All.Tests.csproj
  gpt4all-bindings/csharp/Gpt4All.Tests/ModelFactoryTests.cs
  gpt4all-bindings/csharp/Gpt4All/Bindings/LLModel.cs
  gpt4all-bindings/csharp/Gpt4All/Bindings/LLPromptContext.cs
  gpt4all-bindings/csharp/Gpt4All/Bindings/NativeMethods.cs
  gpt4all-bindings/csharp/Gpt4All/Gpt4All.csproj
  gpt4all-bindings/csharp/Gpt4All/LibraryLoader/ILibraryLoader.cs
  gpt4all-bindings/csharp/Gpt4All/LibraryLoader/LinuxLibraryLoader.cs
  gpt4all-bindings/csharp/Gpt4All/LibraryLoader/LoadResult.cs
  gpt4all-bindings/csharp/Gpt4All/LibraryLoader/MacOsLibraryLoader.cs
  gpt4all-bindings/csharp/Gpt4All/LibraryLoader/NativeLibraryLoader.cs
  gpt4all-bindings/csharp/Gpt4All/LibraryLoader/WindowsLibraryLoader.cs
  gpt4all-bindings/csharp/Gpt4All/Model/Gpt4AllModelFactory.cs
  gpt4all-bindings/csharp/Gpt4All/Model/IGpt4AllModelFactory.cs
  gpt4all-bindings/csharp/Gpt4All/Model/ModelType.cs
  gpt4all-bindings/csharp/Gpt4All/Prediction/ITextPrediction.cs
  gpt4all-bindings/csharp/build_linux.sh
  gpt4all-bindings/csharp/build_win-mingw.ps1
  gpt4all-bindings/csharp/build_win-msvc.ps1
Due: run-chat-workflow, run-default-workflow

update setup.py
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

fix prompt context so it's preserved in class
  gpt4all-bindings/python/gpt4all/pyllmodel.py
Due: run-python-workflow, run-default-workflow

metal replit (#931)
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/replit.cpp
Due: run-chat-workflow, run-default-workflow

Path conditions:
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-chat-workflow: (any of: gpt4all-backend/.*) or (any of: gpt4all-chat/.*)
  run-default-workflow: any of: .*
